

<div class="mainnav container">
  <a class="left" href="#home">Sunglasses Eshop</a>
  <%= link_to 'My Cart', {:controller => :cart, :action => :index}, :style=>'float: right;', :class => 'right' %>
</div>