// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

body {

}
div.gallery {
  margin: 1%;
  padding: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 23%;
}


div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
